<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--links to load bootstrap-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'BootCRUDApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'BootCRUDApp/css/base.css' %}">
    <script src="{% static 'BootCRUDApp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'BootCRUDApp/js/bootstrap.js' %}"></script>
</head>
<body>
<!--header-->
<header class="jumbotron">
    <h1>Welcome to World Garage Sale!</h1>
</header>
<!-- block setup for the other html pages with just one block content-->
{% block content %}
<h1>In the Index Page</h1>
{% endblock content %}

</body>
</html>